<%= form_with(model: attendee, local: true) do |form| %>
  <% if attendee&.errors&.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

      <ul>
        <% attendee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="attendee-form">
    <h3>Contact Info</h3>
    <fieldset class="flex">
      <div class="field half">
        <%= form.text_field :first_name, placeholder: "First Name" %>
      </div>

      <div class="field half">
        <%= form.text_field :last_name, placeholder: "Last Name" %>
      </div>

      <div class="field full half-800">
        <%= form.email_field :email, placeholder: "Email" %>
      </div>

      <div class="field full half-800">
        <%= form.telephone_field :phone_number, placeholder: "Phone" %>
      </div>

      <div class="field full half-800">
        <%= form.text_field :buid, placeholder: "BUID" %>
      </div>

    </fieldset>
    
    <h3>Undergraduate</h3>
    
    <fieldset class="flex">
      <div class="field fourth">
        <%= form.label :ug_graduation_year, "Grad Year" %>
        <%= form.number_field :ug_graduation_year, min: 1950, max: Date.today.year + 5 %>
      </div>
      
      <div class="field three-fourth">
        <%= form.label :gr_college, "College" %>
        <%= form.select :ug_college, options_for_select([
          ['Please Select', ''],
          ['College of Business', 'CB'],
          ['College of Entertainment & Music Business', 'CE'],
          ['College of Health Sciences', 'CH'],
          ['College-Interdisciplinary Stdy', 'CI'],
          ['College of Law', 'CL'],
          ['College of Sciences & Math', 'CM'],
          ['College of Pharmacy', 'CP'],
          ['College of Lib. Arts & Soc Sci', 'CS'],
          ['College of Theology & Ministry', 'CT'],
          ['College of Education', 'ED'],
          ['College of Music & Performing Arts', 'MP'],
          ['College Architecture & Design', 'OM'],
          ['College of Pharmacy & Health Sciences', 'PH'],
          ['University College', 'UC'],
          ['Watkins College', 'WA'],
          ['College of Art', 'WC'],
          ['College of Nursing', 'CN']
        ], selected: attendee.ug_college) %>
      </div>
      <div class="field fourth">
        <%= form.text_field :ug_degree, placeholder: "Degree" %>
      </div>
      
      <div class="field three-fourth">
        <%= form.text_field :ug_program, placeholder: "Program" %>
      </div>
    </fieldset>
    
    
  <h3>Graduate</h3>
    
    <fieldset class="flex">
      <div class="field fourth">
        <%= form.label :gr_graduation_year, "Grad Year" %>
        <%= form.number_field :gr_graduation_year, min: 1950, max: Date.today.year + 5 %>
      </div>

      <div class="field three-fourth">
        <%= form.label :gr_college, "College" %>
        <%= form.select :gr_college, options_for_select([
          ['Please Select', ''],
          ['College of Business', 'CB'],
          ['College of Entertainment & Music Business', 'CE'],
          ['College of Health Sciences', 'CH'],
          ['College-Interdisciplinary Stdy', 'CI'],
          ['College of Law', 'CL'],
          ['College of Sciences & Math', 'CM'],
          ['College of Pharmacy', 'CP'],
          ['College of Lib. Arts & Soc Sci', 'CS'],
          ['College of Theology & Ministry', 'CT'],
          ['College of Education', 'ED'],
          ['College of Music & Performing Arts', 'MP'],
          ['College Architecture & Design', 'OM'],
          ['College of Pharmacy & Health Sciences', 'PH'],
          ['University College', 'UC'],
          ['Watkins College', 'WA'],
          ['College of Art', 'WC'],
          ['College of Nursing', 'CN']
        ], selected: attendee.gr_college) %>
      </div>

      <div class="field fourth">
        <%= form.text_field :gr_degree, placeholder: "Degree" %>
      </div>

      <div class="field three-fourth">
        <%= form.text_field :gr_program, placeholder: "Program" %>
      </div>
    </fieldset>

    <h3>Work</h3>

    <fieldset class="flex">
      <div class="field">
        <%= form.text_field :company, placeholder: "Company" %>
      </div>

      <div class="field">
        <%= form.text_field :position, placeholder: "Position" %>
      </div>
      <div class="field half">
        <label>
          <%= form.check_box :is_faculty  %>
          <span class="checkable">
            <%= form.label :is_faculty, "Belmont Faculty" %>
          </span>
        </label>
      </div>

      <div class="field half">
        <label>
          <%= form.check_box :is_staff  %>
          <span class="checkable">
            <%= form.label :is_staff, "Belmont Staff" %>
          </span>
        </label>
      </div>
    </fieldset>

    <fieldset class="actions flex">
      <div>
        <%= form.submit %>
      </div>
      <% if @attendee.id %>
        <div>
          <%= link_to 'Back', attendee_path(@attendee), class: "pseudo button" %>
        </div>
        <div class="off-fourth-800">
          <%= link_to "Delete Attendee", attendee_path(@attendee), method: :delete, data: { confirm: "Are you sure you want to delete this attendee?" }, class: "pseudo button error" %>
        </div>
      <% end %>
    </fieldset>
  </div>
<% end %>
